  <ul class=" nav justify-content-center bg-success bg-opacity-50 p-4">
        <li class="nav-item">
          <a class="nav-link" href="/home-base">Logo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Create</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about-us">About us</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="/signup">SignUp</a>
        </li>
      </ul>
