<!--Nav bar-->
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="title navbar-brand" href="#">
            <img src="/imgs/GroupIt Logo (1).svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
            GroupIt
        </a>
    </div>
</nav>
<div class="container">
<div class ="row featurette bg-light">
    <div class ="col-md-7">
        <h2 class ="featurette-heading">What is GroupIt?</h2>
        <p class="lead">GroupIt is a site, where you are allowed to host and join 
            local events. It eliminates the need of having to create an account to join events
            such as Facebook. In addition, since signing up is not needed, you personal
            information is not shared with anyone!
        </p>
    </div>
    <div class="col-md-5">
        <img class="img-fluid mx-auto" src="/imgs/GroupIt Logo (1).svg" 
        style="width: 500px;
         height: 500px">
    </div>
</div>
<hr class="divider">
<div class="container bg-light">
    <p class="text-center fs-1">Creators</p>
    <hr class="divider">
<div class="row">
    <div class="col-lg-4 bg-light">
        <img class="rounded-circle" src="/imgs/GroupIt Logo (1).svg" style ="width: 160px; height: 160px;">
        <h2>Saul Navarro</h2>
        <p></p>
    </div>
    <div class="col-lg-4 bg-light">
        <img class="rounded-circle" src="/imgs/GroupIt Logo (1).svg" style ="width: 160px; height: 160px;">
        <h2>Jesus Mendoza</h2>
        <p></p>
    </div>
    <div class="col-lg-4 bg-light">
        <img class="rounded-circle" src="/imgs/SaulN.jpeg" style ="width: 160px; height: 160px;">
        <h2>Saul Navarro</h2>
        <p>Hello, I am Saul Navarro, a student at the Berkely Extension Coding BootCamp. 
                            I am born and raised in Oakland, I am billingual, speaking English (obivously), and Spanish.</p>
    </div>
</div>
</div>
</div>
