
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="title navbar-brand" href="#">
            <img src="/imgs/GroupIt Logo (1).svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
            GroupIt
        </a>
    </div>
</nav>


<div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Image Goes Here</h1>
          <p class="lead">This is where image goes.</p>
        </div>
      </div>
      
<div class="card">

{{#each events as |event| }}
    {{> event-info event}}
  {{/each}}

 </div>
