@import url(/public/css/login.css);

.jhello-div{
    background: -webkit-linear-gradient(110deg, var(--secondary-color)40%, var(--third-color) 40%);
    margin-bottom: 0px;
}

.main-card{
    border-bottom: solid 2px var(--fourth-color);
}

.wgi-text{
    padding-bottom: .5rem;
    margin-bottom: 0px;
}

.login-nav-text:hover{
    padding: 5px;
    border: solid 2px var(--third-color);
    border-radius: 2.5px;
}

.logout-nav-text:hover{
    padding: 5px;
    border: solid 2.5px var(--third-color);
    border-radius: 2.5px;
}

.create-nav-text:hover{
    padding: 5px;
    border: solid 2.5px var(--third-color);
    border-radius: 2.5px;
}