body{
    background: radial-gradient(black, transparent);
}

.navbar{
    border-bottom: 3px solid #2f4f4f;
}

.login-form{
    border: 2px solid #2f4f4f;
    background-color: #F8F8FF;
    padding-bottom: 1.5rem;
    padding-top: 1rem;
    margin-top: 10rem;
}

.login-btn  {
    margin-bottom: 1.5rem;
}