body{
    background: radial-gradient(#587291,#0d1821 , transparent);
}

.navbar{
    background-color: #174690;
    border-bottom: 3px solid #040f0f;
}

.login-form{
    border: 2px solid #0d1821;
    background-color: #e0e5f4;
    padding-bottom: 1.5rem;
    padding-top: 1rem;
    margin-top: 10rem;
    border-radius: 10px;
}

.login-btn  {
    margin-bottom: 1.5rem;
}

.footer {
    background-color: #174690;
}